/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    background: #0f172a;
}

nav h2 {
    font-size: 28px;
}

nav div {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #38bdf8;
}

/* Home */
#home {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8%;
}

#home p:first-child {
    color: #38bdf8;
    font-size: 20px;
    margin-bottom: 10px;
}

#home h1 {
    font-size: 70px;
    margin-bottom: 15px;
}

#home h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#home p {
    max-width: 600px;
    color: #cbd5e1;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

#home a {
    width: fit-content;
    background: #38bdf8;
    color: #0f172a;
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

#home a:hover {
    background: white;
}